name: Build and Deploy to Azure Web App

on:
  push:
    branches: [ "sql-version" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven
      - run: mvn clean package -DskipTests
      - uses: azure/webapps-deploy@v3
        with:
          app-name: myspringboot
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: target/car-service-0.0.1-SNAPSHOT.jar  # Changed from target/*.jar